In [55]:
from pathlib import Path
import pandas as pd

# project root = two levels up from this notebook
RAW_DIR = Path.cwd().parents[1] / "data" / "00_raw"
PROC_DIR = Path.cwd().parents[1] / "data" / "01_processed" / "elset_history_aodr"
print(PROC_DIR)  # sanity check

/Users/katialopes-gilbert/Library/CloudStorage/GoogleDrive-katialopesgilbert@gmail.com/My Drive/wid-datathon/data/01_processed/elset_history_aodr

# Basic Information 

1. Shape and size of the dataset
2. Unique satelites

In [56]:
day = "2025-01-01"
day_dir = PROC_DIR / f"epoch_date={day}"

# read the whole partition (all files in that directory)
df_day = pd.read_parquet(day_dir)
df_day.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00

In [57]:
# Load multiple days
days = ["2025-01-01", "2025-01-02"]
paths = [PROC_DIR / f"epoch_date={d}" for d in days]
df = pd.concat([pd.read_parquet(p) for p in paths], ignore_index=True)
df.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00

In [58]:
pd.display_max_columns = None  # show all columns

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61979 entries, 0 to 61978
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   algorithm              61979 non-null  object
 1   apogee                 61979 non-null  float64
 2   argOfPerigee           61979 non-null  float64
 3   bStar                  61979 non-null  float64
 4   classificationMarking  61979 non-null  string
 5   createdAt              61979 non-null  datetime64[us, UTC]
 6   createdBy              61979 non-null  string
 7   eccentricity           61979 non-null  float64
 8   source                 61979 non-null  string
 9   semiMajorAxis          61979 non-null  float64
 10  satNo                  61979 non-null  Int64
 11  revNo                  61979 non-null  Int64
 12  raan                   61979 non-null  float64
 13  period                 61979 non-null  float64
 14  perigee                61979 non-null  float64
 15  origNetwork            61979 non-null  object
 16  meanMotionDot          61979 non-null  float64
 17  meanMotionDDot         61979 non-null  float64
 18  meanMotion             61979 non-null  float64
 19  meanAnomaly            61979 non-null  float64
 20  inclination            61979 non-null  float64
 21  idOnOrbit              61584 non-null  Int64
 22  idElset                0 non-null      Int64
 23  epoch                  61979 non-null  datetime64[us, UTC]
dtypes: Int64(4), datetime64[us, UTC](2), float64(13), object(2), string(3)
memory usage: 11.6+ MB

In [60]:
df_all = pd.read_parquet(PROC_DIR)

df_all.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch,epoch_date
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00,2025-01-01
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00,2025-01-01
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00,2025-01-01
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00,2025-01-01
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00,2025-01-01

In [61]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578380 entries, 0 to 9578379
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   algorithm              object
 1   apogee                 float64
 2   argOfPerigee           float64
 3   bStar                  float64
 4   classificationMarking  string
 5   createdAt              datetime64[us, UTC]
 6   createdBy              string
 7   eccentricity           float64
 8   source                 string
 9   semiMajorAxis          float64
 10  satNo                  Int64
 11  revNo                  Int64
 12  raan                   float64
 13  period                 float64
 14  perigee                float64
 15  origNetwork            object
 16  meanMotionDot          float64
 17  meanMotionDDot         float64
 18  meanMotion             float64
 19  meanAnomaly            float64
 20  inclination            float64
 21  idOnOrbit              Int64
 22  idElset                Int64
 23  epoch                  datetime64[us, UTC]
 24  epoch_date             category
dtypes: Int64(4), category(1), datetime64[us, UTC](2), float64(13), object(2), string(3)
memory usage: 1.8+ GB

## Column Explanations
📌 **Identification & Metadata**
* satNo → NORAD satellite catalog number (unique ID across datasets).
* idOnOrbit / idElset → Internal UDL identifiers for that specific elset record.
* epoch → Time the orbit is valid from (reference timestamp).
* epoch_date → (Categorical form of above, likely for partitioning).
* createdAt / createdBy → When/whom the record was ingested into UDL.
* classificationMarking → Security label (probably “UNCLASSIFIED” for your dataset).
* origNetwork / source → Where the record came from (likely “18 SDS” here).

📌 **Orbital Geometry**
These describe the shape and orientation of the orbit:
* semiMajorAxis → Half the longest axis of the orbit ellipse (size of orbit).
* eccentricity → “Roundness” of the orbit (0 = circle, >0 = ellipse).
* inclination → Tilt of the orbit relative to Earth’s equator (0° = equatorial, 90° = polar).
* raan (Right Ascension of Ascending Node) → Where the orbit crosses the equator.
* argOfPerigee → Orientation of the closest point in the orbit.
* meanAnomaly → Position of the satellite in its orbit at the epoch.

📌 **Orbital Motion**
These describe how fast the object moves:
* meanMotion → Revolutions per day (e.g., ~15 rev/day for LEO).
* period → Orbital period in minutes (1 / meanMotion).
* revNo → Revolution number since launch.

📌 **Derived Orbit Properties**
* apogee → Highest altitude above Earth.
* perigee → Lowest altitude above Earth.

📌 **Drag / Perturbation Terms**
These describe how much Earth’s atmosphere & forces perturb the orbit:
* bStar → Atmospheric drag parameter.
* meanMotionDot → First derivative (rate of change of mean motion).
* meanMotionDDot → Second derivative (acceleration of mean motion).
* algorithm → Which orbit determination algorithm was used (often “SGP4”).

In [62]:
pd.set_option('display.max_columns', None)

In [63]:
df_all.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch,epoch_date
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00,2025-01-01
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00,2025-01-01
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00,2025-01-01
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00,2025-01-01
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00,2025-01-01

In [64]:
df_all.satNo.nunique()

29715

There are 29,715 unique objects in this dataset.

In [65]:
df_all.columns

Index(['algorithm', 'apogee', 'argOfPerigee', 'bStar', 'classificationMarking',
       'createdAt', 'createdBy', 'eccentricity', 'source', 'semiMajorAxis',
       'satNo', 'revNo', 'raan', 'period', 'perigee', 'origNetwork',
       'meanMotionDot', 'meanMotionDDot', 'meanMotion', 'meanAnomaly',
       'inclination', 'idOnOrbit', 'idElset', 'epoch', 'epoch_date'],
      dtype='object')

In [66]:
df_all.isna().sum().reset_index().rename(columns={0: 'n_missing'}).sort_values(by='n_missing', ascending=False)

                    index  n_missing
22                idElset    9578380
0               algorithm     292630
13                 period     292617
16          meanMotionDot     289237
17         meanMotionDDot     289237
3                   bStar     208418
9           semiMajorAxis     126999
11                  revNo     126999
1                  apogee     126999
14                perigee     126999
21              idOnOrbit      68364
10                  satNo      24802
23                  epoch          0
20            inclination          0
19            meanAnomaly          0
18             meanMotion          0
12                   raan          0
15            origNetwork          0
8                  source          0
7            eccentricity          0
6               createdBy          0
5               createdAt          0
4   classificationMarking          0
2            argOfPerigee          0
24             epoch_date          0

In [67]:
len(df_all)

9578380

In [68]:
df_all.describe()

,apogee,argOfPerigee,bStar,eccentricity,semiMajorAxis,satNo,revNo,raan,period,perigee,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset
count,9.451381e+06,9.578380e+06,9.369962e+06,9.578380e+06,9.451381e+06,9553578.0,9451381.0,9.578380e+06,9.285763e+06,9.451381e+06,9.289143e+06,9.289143e+06,9.578380e+06,9.578380e+06,9.578380e+06,9510016.0,0.0
mean,1.109690e+04,1.709633e+02,6.468430e-04,3.024010e-02,1.048484e+04,42400.170961,26247.793648,1.780623e+02,2.028265e+02,9.872779e+03,7.817271e-05,5.996552e-06,1.294574e+01,1.897551e+02,6.667234e+01,41804.824649,<NA>
std,1.127883e+04,9.952165e+01,1.174821e-02,1.225286e-01,9.858333e+03,21044.067887,27795.881449,1.051278e+02,3.492763e+02,9.346872e+03,2.914913e-03,8.259428e-04,4.332653e+00,1.013773e+02,2.924943e+01,18105.358685,<NA>
min,6.495761e+03,1.000000e-04,-2.325100e+00,2.000000e-07,6.494273e+03,5.0,0.0,1.000000e-04,8.680700e+01,4.901396e+03,-5.238787e-01,-5.555500e-05,2.779772e-02,1.000000e-04,1.000000e-04,5.0,<NA>
25%,6.918725e+03,8.707820e+01,2.042600e-05,1.581000e-04,6.917828e+03,27870.0,6194.0,8.532500e+01,9.537800e+01,6.876489e+03,1.900000e-07,0.000000e+00,1.347193e+01,9.300570e+01,4.997220e+01,27819.0,<NA>
50%,7.081625e+03,1.558434e+02,1.881800e-04,8.113000e-04,7.053628e+03,47355.0,14580.0,1.744314e+02,9.786100e+01,6.961722e+03,7.580000e-06,0.000000e+00,1.464631e+01,2.073347e+02,7.000020e+01,47261.0,<NA>
75%,7.561168e+03,2.667121e+02,7.537500e-04,4.997800e-03,7.446971e+03,57474.0,36095.0,2.711343e+02,1.054320e+02,7.274220e+03,5.669000e-05,0.000000e+00,1.508854e+01,2.736609e+02,9.742150e+01,57386.0,<NA>
max,6.195078e+05,3.599999e+02,8.779300e+00,9.653600e-01,4.603227e+05,270446.0,99999.0,3.600000e+02,5.180281e+04,3.072422e+05,1.000000e+00,4.809900e-01,1.658850e+01,3.599999e+02,1.537180e+02,65077.0,<NA>

## Satellite Catelog

In [69]:
satcat = pd.read_csv(RAW_DIR / "satcat.csv")
satcat.head()

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,APOGEE,PERIGEE,COMMENT,COMMENTCODE,RCSVALUE,RCS_SIZE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
0,1957-001A,1,ROCKET BODY,SL-1 R/B,CIS,1957-10-04,TTMTR,1957-12-01,96.19,65.10,938.0,214.0,NaN,4.0,0,LARGE,1,1957,1,A,Y,SL-1 R/B,1957-001A,1
1,1957-001B,2,PAYLOAD,SPUTNIK 1,CIS,1957-10-04,TTMTR,1958-01-03,96.10,65.00,1080.0,64.0,NaN,NaN,0,NaN,7179,1957,1,B,Y,SPUTNIK 1,1957-001B,2
2,1957-002A,3,PAYLOAD,SPUTNIK 2,CIS,1957-11-03,TTMTR,1958-04-14,103.74,65.33,1659.0,211.0,NaN,NaN,0,SMALL,9221,1957,2,A,Y,SPUTNIK 2,1957-002A,3
3,1958-001A,4,PAYLOAD,EXPLORER 1,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,215.0,183.0,NaN,NaN,0,NaN,1,1958,1,A,Y,EXPLORER 1,1958-001A,4
4,1958-002B,5,PAYLOAD,VANGUARD 1,US,1958-03-17,AFETR,NaN,132.61,34.26,3823.0,649.0,NaN,NaN,0,SMALL,9235,1958,2,B,Y,VANGUARD 1,1958-002B,5

In [70]:
satcat.columns

Index(['INTLDES', 'NORAD_CAT_ID', 'OBJECT_TYPE', 'SATNAME', 'COUNTRY',
       'LAUNCH', 'SITE', 'DECAY', 'PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE',
       'COMMENT', 'COMMENTCODE', 'RCSVALUE', 'RCS_SIZE', 'FILE', 'LAUNCH_YEAR',
       'LAUNCH_NUM', 'LAUNCH_PIECE', 'CURRENT', 'OBJECT_NAME', 'OBJECT_ID',
       'OBJECT_NUMBER'],
      dtype='object')

In [71]:
satcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65265 entries, 0 to 65264
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   INTLDES        65265 non-null  object
 1   NORAD_CAT_ID   65265 non-null  int64
 2   OBJECT_TYPE    65265 non-null  object
 3   SATNAME        65265 non-null  object
 4   COUNTRY        65265 non-null  object
 5   LAUNCH         65265 non-null  object
 6   SITE           65265 non-null  object
 7   DECAY          33988 non-null  object
 8   PERIOD         64273 non-null  float64
 9   INCLINATION    64273 non-null  float64
 10  APOGEE         64273 non-null  float64
 11  PERIGEE        64273 non-null  float64
 12  COMMENT        965 non-null    object
 13  COMMENTCODE    3670 non-null   float64
 14  RCSVALUE       65265 non-null  int64
 15  RCS_SIZE       54449 non-null  object
 16  FILE           65265 non-null  int64
 17  LAUNCH_YEAR    65265 non-null  int64
 18  LAUNCH_NUM     65265 non-null  int64
 19  LAUNCH_PIECE   65246 non-null  object
 20  CURRENT        65265 non-null  object
 21  OBJECT_NAME    65265 non-null  object
 22  OBJECT_ID      65265 non-null  object
 23  OBJECT_NUMBER  65265 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 12.0+ MB

In [72]:
satcat.columns = satcat.columns.str.strip().str.lower()
satcat.columns

Index(['intldes', 'norad_cat_id', 'object_type', 'satname', 'country',
       'launch', 'site', 'decay', 'period', 'inclination', 'apogee', 'perigee',
       'comment', 'commentcode', 'rcsvalue', 'rcs_size', 'file', 'launch_year',
       'launch_num', 'launch_piece', 'current', 'object_name', 'object_id',
       'object_number'],
      dtype='object')

In [73]:
satcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65265 entries, 0 to 65264
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   intldes        65265 non-null  object
 1   norad_cat_id   65265 non-null  int64
 2   object_type    65265 non-null  object
 3   satname        65265 non-null  object
 4   country        65265 non-null  object
 5   launch         65265 non-null  object
 6   site           65265 non-null  object
 7   decay          33988 non-null  object
 8   period         64273 non-null  float64
 9   inclination    64273 non-null  float64
 10  apogee         64273 non-null  float64
 11  perigee        64273 non-null  float64
 12  comment        965 non-null    object
 13  commentcode    3670 non-null   float64
 14  rcsvalue       65265 non-null  int64
 15  rcs_size       54449 non-null  object
 16  file           65265 non-null  int64
 17  launch_year    65265 non-null  int64
 18  launch_num     65265 non-null  int64
 19  launch_piece   65246 non-null  object
 20  current        65265 non-null  object
 21  object_name    65265 non-null  object
 22  object_id      65265 non-null  object
 23  object_number  65265 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 12.0+ MB

In [74]:
satcat.describe()

,norad_cat_id,period,inclination,apogee,perigee,commentcode,rcsvalue,file,launch_year,launch_num,object_number
count,65265.000000,64273.000000,64273.000000,64273.000000,64273.000000,3670.000000,65265.0,65265.00000,65265.000000,65265.000000,65265.000000
mean,32643.223045,177.086338,68.850224,3505.692064,1731.541005,3.388556,0.0,7296.48467,1997.327557,60.602176,32643.223045
std,18854.766362,688.899073,25.017626,13814.289005,6648.313714,1.334279,0.0,3213.70126,19.701192,44.098971,18854.766362
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.00000,1957.000000,0.000000,1.000000
25%,16317.000000,89.280000,53.010000,268.000000,197.000000,3.000000,0.0,7337.00000,1982.000000,25.000000,16317.000000
50%,32633.000000,94.110000,70.000000,484.000000,419.000000,3.000000,0.0,9029.00000,1997.000000,52.000000,32633.000000
75%,48949.000000,101.040000,92.240000,872.000000,667.000000,5.000000,0.0,9235.00000,2020.000000,86.000000,48949.000000
max,65322.000000,95687.680000,150.940000,641287.000000,314973.000000,5.000000,0.0,9240.00000,2025.000000,254.000000,65322.000000

In [75]:
satcat['object_type'].value_counts()

object_type
DEBRIS         35726
PAYLOAD        21844
ROCKET BODY     6743
UNKNOWN          952
Name: count, dtype: int64

In [76]:
satcat['country'].value_counts()

country
CIS     25033
US      24961
PRC      8658
FR       1471
JPN       873
        ...
MNG         1
GHA         1
NICO        1
SVK         1
BHR         1
Name: count, Length: 121, dtype: int64

In [77]:
satcat['country'].nunique()

121

## Understand Orbital Placement of Objects

- LEO (<2,000 km perigee)
- MEO (2,000–35,000 km)
- GEO (near 35,786 km ± 200 km)
- HEO (eccentric >0.1, apogee > GEO)

In [78]:
df_all['satNo'].nunique()

29715

In [79]:
satcat['norad_cat_id'].nunique()

65265

In [80]:
sat_list = satcat[['norad_cat_id']].drop_duplicates().rename(columns={'norad_cat_id': 'satNo'})
sat_no_list = df_all[['satNo']].drop_duplicates()
merged = sat_no_list[['satNo']].merge(sat_list, on='satNo', how='outer', indicator=True)
merged['_merge'].value_counts()

_merge
right_only    36125
both          29140
left_only       576
Name: count, dtype: int64

## Only keep rows in both datasets

In [81]:
merged = df_all.merge(satcat, left_on='satNo', right_on='norad_cat_id', how='inner')
merged.shape

(9510016, 49)

In [107]:
stats_check = merged[['apogee_x', 'apogee_y', 'perigee_x', 'perigee_y', 'period_x', 'period_y']]
stats_check['apogee_diff'] = stats_check['apogee_x'] - stats_check['apogee_y']
stats_check['perigee_diff'] = stats_check['perigee_x'] - stats_check['perigee_y']
stats_check['period_diff'] = stats_check['period_x'] - stats_check['period_y']
stats_check.head(10)

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_31514/1163593556.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_check['apogee_diff'] = stats_check['apogee_x'] - stats_check['apogee_y']
/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_31514/1163593556.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_check['perigee_diff'] = stats_check['perigee_x'] - stats_check['perigee_y']
/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_31514/1163593556.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats_check['period_diff'] = stats_check['period_x'] - stats_check['period_y']

,apogee_x,apogee_y,perigee_x,perigee_y,period_x,period_y,apogee_diff,perigee_diff,period_diff
0,10202.213,3823.0,7026.636,649.0,132.617,132.61,6379.213,6377.636,0.007
1,10202.217,3823.0,7026.617,649.0,132.617,132.61,6379.217,6377.617,0.007
2,9286.717,2900.0,6930.269,552.0,121.107,121.01,6386.717,6378.269,0.097
3,9673.868,3290.0,6931.950,556.0,125.489,125.45,6383.868,6375.950,0.039
4,10594.496,4217.0,7029.527,650.0,137.206,137.20,6377.496,6379.527,0.006
5,9597.348,3213.0,6886.204,509.0,124.105,124.04,6384.348,6377.204,0.065
6,9597.322,3213.0,6886.212,509.0,124.105,124.04,6384.322,6377.212,0.065
7,6972.199,565.0,6832.162,443.0,95.113,94.70,6407.199,6389.162,0.413
8,6972.024,565.0,6832.128,443.0,95.111,94.70,6407.024,6389.128,0.411
9,7031.000,651.0,7000.123,620.0,97.466,97.42,6380.000,6380.123,0.046

In [108]:
stats_check.describe()

,apogee_x,apogee_y,perigee_x,perigee_y,period_x,period_y,apogee_diff,perigee_diff,period_diff
count,9.400128e+06,9.509384e+06,9.400128e+06,9.509384e+06,9.242801e+06,9.509384e+06,9.399509e+06,9.399509e+06,9.242182e+06
mean,1.107926e+04,4.738493e+03,9.857155e+03,3.516206e+03,2.031563e+02,2.247050e+02,6.395982e+03,6.382509e+03,2.615757e-01
std,1.126123e+04,1.132044e+04,9.324520e+03,9.394080e+03,3.499089e+02,3.841806e+02,4.388793e+02,2.815223e+02,2.717809e+01
min,6.495761e+03,9.500000e+01,4.901396e+03,0.000000e+00,8.680700e+01,8.630000e+01,-2.442230e+05,-1.738973e+05,-2.896944e+04
25%,6.918712e+03,5.380000e+02,6.875817e+03,4.900000e+02,9.534900e+01,9.510000e+01,6.377797e+03,6.377737e+03,-2.000000e-03
50%,7.078346e+03,6.960000e+02,6.959703e+03,5.770000e+02,9.780200e+01,9.805000e+01,6.378457e+03,6.378480e+03,4.000000e-03
75%,7.557430e+03,1.183000e+03,7.271018e+03,8.970000e+02,1.053160e+02,1.065900e+02,6.382093e+03,6.381032e+03,5.100000e-02
max,6.195078e+05,6.385230e+05,3.072422e+05,3.149730e+05,5.180281e+04,5.569945e+04,7.279530e+04,1.572103e+05,1.605252e+04

In [88]:
df_latest = (merged.sort_values("epoch")
                      .groupby("satNo")
                      .tail(1))
df_latest.shape

(29140, 49)

In [89]:
df_latest.head()

,algorithm,apogee_x,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period_x,perigee_x,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination_x,idOnOrbit,idElset,epoch,epoch_date,intldes,norad_cat_id,object_type,satname,country,launch,site,decay,period_y,inclination_y,apogee_y,perigee_y,comment,commentcode,rcsvalue,rcs_size,file,launch_year,launch_num,launch_piece,current,object_name,object_id,object_number
31636,SGP4,6713.220,158.0519,0.071972,U,2025-01-01 16:05:13.461000+00:00,system.ob-ingest,0.002807,18th SPCS,6694.428,60773,2104,332.9594,90.851,6675.636,OPS1,0.123356,0.274000,15.850119,202.1971,88.9702,60773,<NA>,2025-01-01 05:40:21.204192+00:00,2025-01-01,2024-140EY,60773,DEBRIS,CZ-6A DEB,PRC,2024-08-06,TSC,2025-01-06,90.85,88.97,335.0,298.0,NaN,NaN,0,SMALL,9003,2024,140,EY,Y,CZ-6A DEB,2024-140EY,60773
25359,SGP4,6572.676,274.5234,0.000266,U,2025-01-02 00:05:13.604000+00:00,system.ob-ingest,0.000283,18th SPCS,6570.814,56091,10246,70.4408,88.346,6568.951,OPS1,0.011464,0.000002,16.299491,131.9252,96.3242,56091,<NA>,2025-01-01 06:26:51.037728+00:00,2025-01-01,2023-045A,56091,PAYLOAD,COSMOS 2568,CIS,2023-03-29,PKMTR,2025-01-03,87.19,96.33,141.0,130.0,NaN,NaN,0,LARGE,9000,2023,45,A,Y,COSMOS 2568,2023-045A,56091
11943,SGP4,6689.589,333.9987,0.015160,U,2025-01-01 15:05:11.434000+00:00,system.ob-ingest,0.002177,18th SPCS,6675.056,33989,84795,57.0027,90.457,6660.522,OPS1,0.041511,0.022317,15.919171,26.0151,73.9751,33989,<NA>,2025-01-01 09:48:54.658944+00:00,2025-01-01,1993-036FY,33989,DEBRIS,COSMOS 2251 DEB,CIS,1993-06-16,PKMTR,2025-01-06,90.46,73.98,311.0,282.0,NaN,NaN,0,SMALL,9003,1993,36,FY,Y,COSMOS 2251 DEB,1993-036FY,33989
22797,SGP4,6525.653,212.6438,0.000296,U,2025-01-01 12:05:11.766000+00:00,system.ob-ingest,0.000228,18th SPCS,6524.163,53714,12937,346.7018,87.407,6522.674,OPS1,0.158177,0.000013,16.474625,285.8411,53.2010,53714,<NA>,2025-01-01 10:32:12.338880+00:00,2025-01-01,2022-107Q,53714,PAYLOAD,STARLINK-4688,US,2022-09-05,AFETR,2025-01-01,87.41,53.20,148.0,145.0,NaN,NaN,0,LARGE,9000,2022,107,Q,Y,STARLINK-4688,2022-107Q,53714
13338,SGP4,7100.459,59.2819,0.018898,U,2025-01-01 23:05:11.521000+00:00,system.ob-ingest,0.001498,18th SPCS,7089.840,38275,74271,262.7376,99.018,7079.222,OPS1,0.000812,0.000000,14.542801,300.9849,81.1576,38275,<NA>,2025-01-01 10:44:23.122176+00:00,2025-01-01,1979-095BV,38275,DEBRIS,METEOR 2-5 DEB,CIS,1979-10-31,PKMTR,NaN,99.02,81.16,722.0,701.0,NaN,1.0,0,SMALL,9029,1979,95,BV,Y,METEOR 2-5 DEB,1979-095BV,38275

In [91]:
EARTH_RADIUS = 6378.137  # km (WGS84 equatorial radius)
df_latest["perigee_alt_km"] = df_latest["perigee_x"] - EARTH_RADIUS
df_latest["apogee_alt_km"]  = df_latest["apogee_x"]  - EARTH_RADIUS

In [101]:
df_check = df_latest[['satNo', 'perigee_y', 'apogee_y', 'perigee_alt_km', 'apogee_alt_km']].copy()
df_check['apogee_diff'] = df_check['apogee_y'] - df_check['apogee_alt_km']
df_check['perigee_diff'] = df_check['perigee_y'] - df_check['perigee_alt_km']
df_check[['apogee_diff', 'perigee_diff']].describe()

        apogee_diff   perigee_diff
count  29103.000000   29103.000000
mean      -1.505660       3.501992
std      248.867713     623.350550
min   -13836.053000  -18832.942000
25%       -1.051000      -0.961000
50%       -0.113000      -0.172000
75%        0.405000       0.457000
max    31497.941000  102451.756000

In [103]:
df_check[df_check['apogee_diff'].abs() > 100].sort_values(by='apogee_diff', ascending=False)

,satNo,perigee_y,apogee_y,perigee_alt_km,apogee_alt_km,apogee_diff,perigee_diff
8791844,59228,314973.0,638523.0,300864.064,607025.059,31497.941,14108.936
9424361,39459,78179.0,460746.0,87904.856,443233.507,17512.493,-9725.856
9119261,43435,123504.0,335955.0,117918.953,333626.197,2328.803,5585.047
9361498,837,49238.0,156751.0,50454.034,155541.132,1209.868,-1216.034
9311024,674,50536.0,167187.0,51631.031,166116.286,1070.714,-1095.031
...,...,...,...,...,...,...,...
9406687,63158,118.0,2485.0,108.588,8626.123,-6141.123,9.412
8755973,37755,58963.0,296547.0,77795.942,303550.707,-7003.707,-18832.942
8760921,60058,148603.0,437008.0,144033.018,444017.202,-7009.202,4569.982
7773795,57770,227890.0,298108.0,125438.244,308387.709,-10279.709,102451.756
9447233,63925,112.0,12511.0,105.173,26347.053,-13836.053,6.827

In [92]:
def classify_orbit(perigee, apogee):
    if pd.isna(perigee): return "Unknown"
    if apogee > 35686-200 and perigee > 35686-200: return "GEO"
    elif perigee < 2000: return "LEO"
    elif perigee < 35586: return "MEO"
    else: return "HEO"
df_latest['orbit_class'] = df_latest.apply(lambda row: classify_orbit(row['perigee_alt_km'], row['apogee_alt_km']), axis=1)
df_latest['orbit_class'].value_counts()

orbit_class
LEO        26212
GEO         1544
MEO         1353
Unknown       31
Name: count, dtype: int64

In [95]:
df_latest.isna().sum()

algorithm                   31
apogee_x                    31
argOfPerigee                 0
bStar                        8
classificationMarking        0
createdAt                    0
createdBy                    0
eccentricity                 0
source                       0
semiMajorAxis               31
satNo                        0
revNo                       31
raan                         0
period_x                    31
perigee_x                   31
origNetwork                  0
meanMotionDot               22
meanMotionDDot              22
meanMotion                   0
meanAnomaly                  0
inclination_x                0
idOnOrbit                    0
idElset                  29140
epoch                        0
epoch_date                   0
intldes                      0
norad_cat_id                 0
object_type                  0
satname                      0
country                      0
launch                       0
site                         0
decay                    27942
period_y                     6
inclination_y                6
apogee_y                     6
perigee_y                    6
comment                  29134
commentcode              28865
rcsvalue                     0
rcs_size                   412
file                         0
launch_year                  0
launch_num                   0
launch_piece                 7
current                      0
object_name                  0
object_id                    0
object_number                0
perigee_alt_km              31
apogee_alt_km               31
orbit_class                  0
apogee_alt_filled           31
perigee_alt_filled          31
orbit_class_filled           0
dtype: int64

In [111]:
df_latest.columns

Index(['algorithm', 'apogee_x', 'argOfPerigee', 'bStar',
       'classificationMarking', 'createdAt', 'createdBy', 'eccentricity',
       'source', 'semiMajorAxis', 'satNo', 'revNo', 'raan', 'period_x',
       'perigee_x', 'origNetwork', 'meanMotionDot', 'meanMotionDDot',
       'meanMotion', 'meanAnomaly', 'inclination_x', 'idOnOrbit', 'idElset',
       'epoch', 'epoch_date', 'intldes', 'norad_cat_id', 'object_type',
       'satname', 'country', 'launch', 'site', 'decay', 'period_y',
       'inclination_y', 'apogee_y', 'perigee_y', 'comment', 'commentcode',
       'rcsvalue', 'rcs_size', 'file', 'launch_year', 'launch_num',
       'launch_piece', 'current', 'object_name', 'object_id', 'object_number',
       'perigee_alt_km', 'apogee_alt_km', 'orbit_class', 'apogee_alt_filled',
       'perigee_alt_filled', 'orbit_class_filled'],
      dtype='object')

In [109]:
df_latest['object_type'].value_counts()

object_type
PAYLOAD        15330
DEBRIS         10938
ROCKET BODY     2237
UNKNOWN          635
Name: count, dtype: int64

In [125]:
pivot = df_latest.pivot_table(index='object_type', columns='orbit_class', values='satNo', aggfunc='nunique', fill_value=0)
pivot

orbit_class   GEO    LEO  MEO  Unknown
object_type
DEBRIS         51  10489  380       18
PAYLOAD      1295  13494  530       11
ROCKET BODY   198   1597  441        1
UNKNOWN         0    632    2        1

In [119]:
df_latest['launch_year'].value_counts().sort_index()

launch_year
1958       3
1959       5
1960      11
1961     210
1962      25
        ...
2021    1408
2022    2728
2023    2701
2024    3376
2025    2321
Name: count, Length: 68, dtype: int64

In [121]:
lauch_year_dict = {'1950s': range(1950, 1960),
                   '1960s': range(1960, 1970),
                   '1970s': range(1970, 1980),
                   '1980s': range(1980, 1990),
                   '1990s': range(1990, 2000),
                   '2000s': range(2000, 2010),
                   '2010s': range(2010, 2020),
                   '2020s': range(2020, 2030)}

def classify_launch_year(year):
    if pd.isna(year): return "Unknown"
    for decade, years in lauch_year_dict.items():
        if year in years:
            return decade
    return "Unknown"    

df_latest['launch_decade'] = df_latest['launch_year'].apply(classify_launch_year)
df_latest['launch_decade'].value_counts().sort_index()

launch_decade
1950s        8
1960s     1314
1970s     2655
1980s     2397
1990s     5120
2000s     1780
2010s     2500
2020s    13366
Name: count, dtype: int64