In [276]:
from pathlib import Path
import pandas as pd

# project root = two levels up from this notebook
RAW_DIR = Path.cwd().parents[1] / "data" / "00_raw"
PROC_DIR = Path.cwd().parents[1] / "data" / "01_processed" / "elset_history_aodr"
FINAL_DIR = Path.cwd().parents[1] / "data" / "02_final"
print(PROC_DIR)  # sanity check
print(FINAL_DIR)  # sanity check

/Users/katialopes-gilbert/Library/CloudStorage/GoogleDrive-katialopesgilbert@gmail.com/My Drive/wid-datathon/data/01_processed/elset_history_aodr
/Users/katialopes-gilbert/Library/CloudStorage/GoogleDrive-katialopesgilbert@gmail.com/My Drive/wid-datathon/data/02_final

# Basic Information 

1. Shape and size of the dataset
2. Unique satelites

In [191]:
day = "2025-01-01"
day_dir = PROC_DIR / f"epoch_date={day}"

# read the whole partition (all files in that directory)
df_day = pd.read_parquet(day_dir)
df_day.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00

In [192]:
# Load multiple days
days = ["2025-01-01", "2025-01-02"]
paths = [PROC_DIR / f"epoch_date={d}" for d in days]
df = pd.concat([pd.read_parquet(p) for p in paths], ignore_index=True)
df.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00

In [193]:
pd.display_max_columns = None  # show all columns

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61979 entries, 0 to 61978
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   algorithm              61979 non-null  object
 1   apogee                 61979 non-null  float64
 2   argOfPerigee           61979 non-null  float64
 3   bStar                  61979 non-null  float64
 4   classificationMarking  61979 non-null  string
 5   createdAt              61979 non-null  datetime64[us, UTC]
 6   createdBy              61979 non-null  string
 7   eccentricity           61979 non-null  float64
 8   source                 61979 non-null  string
 9   semiMajorAxis          61979 non-null  float64
 10  satNo                  61979 non-null  Int64
 11  revNo                  61979 non-null  Int64
 12  raan                   61979 non-null  float64
 13  period                 61979 non-null  float64
 14  perigee                61979 non-null  float64
 15  origNetwork            61979 non-null  object
 16  meanMotionDot          61979 non-null  float64
 17  meanMotionDDot         61979 non-null  float64
 18  meanMotion             61979 non-null  float64
 19  meanAnomaly            61979 non-null  float64
 20  inclination            61979 non-null  float64
 21  idOnOrbit              61584 non-null  Int64
 22  idElset                0 non-null      Int64
 23  epoch                  61979 non-null  datetime64[us, UTC]
dtypes: Int64(4), datetime64[us, UTC](2), float64(13), object(2), string(3)
memory usage: 11.6+ MB

In [195]:
df_all = pd.read_parquet(PROC_DIR)

df_all.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch,epoch_date
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00,2025-01-01
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00,2025-01-01
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00,2025-01-01
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00,2025-01-01
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00,2025-01-01

In [196]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578380 entries, 0 to 9578379
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   algorithm              object
 1   apogee                 float64
 2   argOfPerigee           float64
 3   bStar                  float64
 4   classificationMarking  string
 5   createdAt              datetime64[us, UTC]
 6   createdBy              string
 7   eccentricity           float64
 8   source                 string
 9   semiMajorAxis          float64
 10  satNo                  Int64
 11  revNo                  Int64
 12  raan                   float64
 13  period                 float64
 14  perigee                float64
 15  origNetwork            object
 16  meanMotionDot          float64
 17  meanMotionDDot         float64
 18  meanMotion             float64
 19  meanAnomaly            float64
 20  inclination            float64
 21  idOnOrbit              Int64
 22  idElset                Int64
 23  epoch                  datetime64[us, UTC]
 24  epoch_date             category
dtypes: Int64(4), category(1), datetime64[us, UTC](2), float64(13), object(2), string(3)
memory usage: 1.8+ GB

## Column Explanations
 **Identification & Metadata**
* satNo  NORAD satellite catalog number (unique ID across datasets).
* idOnOrbit / idElset  Internal UDL identifiers for that specific elset record.
* epoch  Time the orbit is valid from (reference timestamp).
* epoch_date  (Categorical form of above, likely for partitioning).
* createdAt / createdBy  When/whom the record was ingested into UDL.
* classificationMarking  Security label (probably UNCLASSIFIED for your dataset).
* origNetwork / source  Where the record came from (likely 18 SDS here).

 **Orbital Geometry**
These describe the shape and orientation of the orbit:
* semiMajorAxis  Half the longest axis of the orbit ellipse (size of orbit).
* eccentricity  Roundness of the orbit (0 = circle, >0 = ellipse).
* inclination  Tilt of the orbit relative to Earths equator (0 = equatorial, 90 = polar).
* raan (Right Ascension of Ascending Node)  Where the orbit crosses the equator.
* argOfPerigee  Orientation of the closest point in the orbit.
* meanAnomaly  Position of the satellite in its orbit at the epoch.

 **Orbital Motion**
These describe how fast the object moves:
* meanMotion  Revolutions per day (e.g., ~15 rev/day for LEO).
* period  Orbital period in minutes (1 / meanMotion).
* revNo  Revolution number since launch.

 **Derived Orbit Properties**
* apogee  Highest altitude above Earth.
* perigee  Lowest altitude above Earth.

 **Drag / Perturbation Terms**
These describe how much Earths atmosphere & forces perturb the orbit:
* bStar  Atmospheric drag parameter.
* meanMotionDot  First derivative (rate of change of mean motion).
* meanMotionDDot  Second derivative (acceleration of mean motion).
* algorithm  Which orbit determination algorithm was used (often SGP4).

In [197]:
pd.set_option('display.max_columns', None)

In [198]:
df_all.head()

,algorithm,apogee,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period,perigee,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset,epoch,epoch_date
0,SGP4,10202.213,259.3559,0.000943,U,2025-01-02 00:05:10.959000+00:00,system.ob-ingest,0.184317,18th SPCS,8614.424,5,38543,156.6751,132.617,7026.636,OPS1,0.000008,0.0,10.858339,79.5230,34.2561,5,<NA>,2025-01-01 01:49:54.598368+00:00,2025-01-01
1,SGP4,10202.217,262.2564,0.000996,U,2025-01-02 06:05:08.465000+00:00,system.ob-ingest,0.184319,18th SPCS,8614.417,5,38550,154.6883,132.617,7026.617,OPS1,0.000008,0.0,10.858352,76.5981,34.2564,5,<NA>,2025-01-01 17:17:08.960640+00:00,2025-01-01
2,SGP4,9286.717,275.2650,0.001633,U,2025-01-01 23:05:08.691000+00:00,system.ob-ingest,0.145307,18th SPCS,8108.493,11,81389,294.6285,121.107,6930.269,OPS1,0.000031,0.0,11.890292,68.4325,32.8795,11,<NA>,2025-01-01 19:06:31.800960+00:00,2025-01-01
3,SGP4,9673.868,173.3927,0.000874,U,2025-01-01 23:05:08.697000+00:00,system.ob-ingest,0.165118,18th SPCS,8302.909,12,71282,296.3941,125.489,6931.950,OPS1,0.000015,0.0,11.475123,189.1611,32.9011,12,<NA>,2025-01-01 19:47:07.123200+00:00,2025-01-01
4,SGP4,10594.496,34.2347,0.000585,U,2025-01-02 00:05:10.967000+00:00,system.ob-ingest,0.202279,18th SPCS,8812.011,16,63302,43.3806,137.206,7029.527,OPS1,0.000004,0.0,10.495187,337.3462,34.2656,16,<NA>,2025-01-01 06:18:04.587840+00:00,2025-01-01

In [199]:
df_all.satNo.nunique()

29715

There are 29,715 unique objects in this dataset.

In [200]:
df_all.columns

Index(['algorithm', 'apogee', 'argOfPerigee', 'bStar', 'classificationMarking',
       'createdAt', 'createdBy', 'eccentricity', 'source', 'semiMajorAxis',
       'satNo', 'revNo', 'raan', 'period', 'perigee', 'origNetwork',
       'meanMotionDot', 'meanMotionDDot', 'meanMotion', 'meanAnomaly',
       'inclination', 'idOnOrbit', 'idElset', 'epoch', 'epoch_date'],
      dtype='object')

In [201]:
df_all.isna().sum().reset_index().rename(columns={0: 'n_missing'}).sort_values(by='n_missing', ascending=False)

                    index  n_missing
22                idElset    9578380
0               algorithm     292630
13                 period     292617
16          meanMotionDot     289237
17         meanMotionDDot     289237
3                   bStar     208418
9           semiMajorAxis     126999
11                  revNo     126999
1                  apogee     126999
14                perigee     126999
21              idOnOrbit      68364
10                  satNo      24802
23                  epoch          0
20            inclination          0
19            meanAnomaly          0
18             meanMotion          0
12                   raan          0
15            origNetwork          0
8                  source          0
7            eccentricity          0
6               createdBy          0
5               createdAt          0
4   classificationMarking          0
2            argOfPerigee          0
24             epoch_date          0

In [202]:
len(df_all)

9578380

In [203]:
df_all.describe()

,apogee,argOfPerigee,bStar,eccentricity,semiMajorAxis,satNo,revNo,raan,period,perigee,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination,idOnOrbit,idElset
count,9.451381e+06,9.578380e+06,9.369962e+06,9.578380e+06,9.451381e+06,9553578.0,9451381.0,9.578380e+06,9.285763e+06,9.451381e+06,9.289143e+06,9.289143e+06,9.578380e+06,9.578380e+06,9.578380e+06,9510016.0,0.0
mean,1.109690e+04,1.709633e+02,6.468430e-04,3.024010e-02,1.048484e+04,42400.170961,26247.793648,1.780623e+02,2.028265e+02,9.872779e+03,7.817271e-05,5.996552e-06,1.294574e+01,1.897551e+02,6.667234e+01,41804.824649,<NA>
std,1.127883e+04,9.952165e+01,1.174821e-02,1.225286e-01,9.858333e+03,21044.067887,27795.881449,1.051278e+02,3.492763e+02,9.346872e+03,2.914913e-03,8.259428e-04,4.332653e+00,1.013773e+02,2.924943e+01,18105.358685,<NA>
min,6.495761e+03,1.000000e-04,-2.325100e+00,2.000000e-07,6.494273e+03,5.0,0.0,1.000000e-04,8.680700e+01,4.901396e+03,-5.238787e-01,-5.555500e-05,2.779772e-02,1.000000e-04,1.000000e-04,5.0,<NA>
25%,6.918725e+03,8.707820e+01,2.042600e-05,1.581000e-04,6.917828e+03,27870.0,6194.0,8.532500e+01,9.537800e+01,6.876489e+03,1.900000e-07,0.000000e+00,1.347193e+01,9.300570e+01,4.997220e+01,27819.0,<NA>
50%,7.081625e+03,1.558434e+02,1.881800e-04,8.113000e-04,7.053628e+03,47355.0,14580.0,1.744314e+02,9.786100e+01,6.961722e+03,7.580000e-06,0.000000e+00,1.464631e+01,2.073347e+02,7.000020e+01,47261.0,<NA>
75%,7.561168e+03,2.667121e+02,7.537500e-04,4.997800e-03,7.446971e+03,57474.0,36095.0,2.711343e+02,1.054320e+02,7.274220e+03,5.669000e-05,0.000000e+00,1.508854e+01,2.736609e+02,9.742150e+01,57386.0,<NA>
max,6.195078e+05,3.599999e+02,8.779300e+00,9.653600e-01,4.603227e+05,270446.0,99999.0,3.600000e+02,5.180281e+04,3.072422e+05,1.000000e+00,4.809900e-01,1.658850e+01,3.599999e+02,1.537180e+02,65077.0,<NA>

## Satellite Catelog

In [204]:
satcat = pd.read_csv(RAW_DIR / "satcat.csv")
satcat.head()

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,APOGEE,PERIGEE,COMMENT,COMMENTCODE,RCSVALUE,RCS_SIZE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
0,1957-001A,1,ROCKET BODY,SL-1 R/B,CIS,1957-10-04,TTMTR,1957-12-01,96.19,65.10,938.0,214.0,NaN,4.0,0,LARGE,1,1957,1,A,Y,SL-1 R/B,1957-001A,1
1,1957-001B,2,PAYLOAD,SPUTNIK 1,CIS,1957-10-04,TTMTR,1958-01-03,96.10,65.00,1080.0,64.0,NaN,NaN,0,NaN,7179,1957,1,B,Y,SPUTNIK 1,1957-001B,2
2,1957-002A,3,PAYLOAD,SPUTNIK 2,CIS,1957-11-03,TTMTR,1958-04-14,103.74,65.33,1659.0,211.0,NaN,NaN,0,SMALL,9221,1957,2,A,Y,SPUTNIK 2,1957-002A,3
3,1958-001A,4,PAYLOAD,EXPLORER 1,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,215.0,183.0,NaN,NaN,0,NaN,1,1958,1,A,Y,EXPLORER 1,1958-001A,4
4,1958-002B,5,PAYLOAD,VANGUARD 1,US,1958-03-17,AFETR,NaN,132.61,34.26,3823.0,649.0,NaN,NaN,0,SMALL,9235,1958,2,B,Y,VANGUARD 1,1958-002B,5

In [205]:
satcat.columns

Index(['INTLDES', 'NORAD_CAT_ID', 'OBJECT_TYPE', 'SATNAME', 'COUNTRY',
       'LAUNCH', 'SITE', 'DECAY', 'PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE',
       'COMMENT', 'COMMENTCODE', 'RCSVALUE', 'RCS_SIZE', 'FILE', 'LAUNCH_YEAR',
       'LAUNCH_NUM', 'LAUNCH_PIECE', 'CURRENT', 'OBJECT_NAME', 'OBJECT_ID',
       'OBJECT_NUMBER'],
      dtype='object')

In [206]:
satcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65265 entries, 0 to 65264
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   INTLDES        65265 non-null  object
 1   NORAD_CAT_ID   65265 non-null  int64
 2   OBJECT_TYPE    65265 non-null  object
 3   SATNAME        65265 non-null  object
 4   COUNTRY        65265 non-null  object
 5   LAUNCH         65265 non-null  object
 6   SITE           65265 non-null  object
 7   DECAY          33988 non-null  object
 8   PERIOD         64273 non-null  float64
 9   INCLINATION    64273 non-null  float64
 10  APOGEE         64273 non-null  float64
 11  PERIGEE        64273 non-null  float64
 12  COMMENT        965 non-null    object
 13  COMMENTCODE    3670 non-null   float64
 14  RCSVALUE       65265 non-null  int64
 15  RCS_SIZE       54449 non-null  object
 16  FILE           65265 non-null  int64
 17  LAUNCH_YEAR    65265 non-null  int64
 18  LAUNCH_NUM     65265 non-null  int64
 19  LAUNCH_PIECE   65246 non-null  object
 20  CURRENT        65265 non-null  object
 21  OBJECT_NAME    65265 non-null  object
 22  OBJECT_ID      65265 non-null  object
 23  OBJECT_NUMBER  65265 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 12.0+ MB

In [207]:
satcat.columns = satcat.columns.str.strip().str.lower()
satcat.columns

Index(['intldes', 'norad_cat_id', 'object_type', 'satname', 'country',
       'launch', 'site', 'decay', 'period', 'inclination', 'apogee', 'perigee',
       'comment', 'commentcode', 'rcsvalue', 'rcs_size', 'file', 'launch_year',
       'launch_num', 'launch_piece', 'current', 'object_name', 'object_id',
       'object_number'],
      dtype='object')

In [208]:
satcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65265 entries, 0 to 65264
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   intldes        65265 non-null  object
 1   norad_cat_id   65265 non-null  int64
 2   object_type    65265 non-null  object
 3   satname        65265 non-null  object
 4   country        65265 non-null  object
 5   launch         65265 non-null  object
 6   site           65265 non-null  object
 7   decay          33988 non-null  object
 8   period         64273 non-null  float64
 9   inclination    64273 non-null  float64
 10  apogee         64273 non-null  float64
 11  perigee        64273 non-null  float64
 12  comment        965 non-null    object
 13  commentcode    3670 non-null   float64
 14  rcsvalue       65265 non-null  int64
 15  rcs_size       54449 non-null  object
 16  file           65265 non-null  int64
 17  launch_year    65265 non-null  int64
 18  launch_num     65265 non-null  int64
 19  launch_piece   65246 non-null  object
 20  current        65265 non-null  object
 21  object_name    65265 non-null  object
 22  object_id      65265 non-null  object
 23  object_number  65265 non-null  int64
dtypes: float64(5), int64(6), object(13)
memory usage: 12.0+ MB

In [209]:
satcat.describe()

,norad_cat_id,period,inclination,apogee,perigee,commentcode,rcsvalue,file,launch_year,launch_num,object_number
count,65265.000000,64273.000000,64273.000000,64273.000000,64273.000000,3670.000000,65265.0,65265.00000,65265.000000,65265.000000,65265.000000
mean,32643.223045,177.086338,68.850224,3505.692064,1731.541005,3.388556,0.0,7296.48467,1997.327557,60.602176,32643.223045
std,18854.766362,688.899073,25.017626,13814.289005,6648.313714,1.334279,0.0,3213.70126,19.701192,44.098971,18854.766362
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.00000,1957.000000,0.000000,1.000000
25%,16317.000000,89.280000,53.010000,268.000000,197.000000,3.000000,0.0,7337.00000,1982.000000,25.000000,16317.000000
50%,32633.000000,94.110000,70.000000,484.000000,419.000000,3.000000,0.0,9029.00000,1997.000000,52.000000,32633.000000
75%,48949.000000,101.040000,92.240000,872.000000,667.000000,5.000000,0.0,9235.00000,2020.000000,86.000000,48949.000000
max,65322.000000,95687.680000,150.940000,641287.000000,314973.000000,5.000000,0.0,9240.00000,2025.000000,254.000000,65322.000000

In [210]:
satcat['object_type'].value_counts()

object_type
DEBRIS         35726
PAYLOAD        21844
ROCKET BODY     6743
UNKNOWN          952
Name: count, dtype: int64

In [211]:
satcat['country'].value_counts()

country
CIS     25033
US      24961
PRC      8658
FR       1471
JPN       873
        ...
MNG         1
GHA         1
NICO        1
SVK         1
BHR         1
Name: count, Length: 121, dtype: int64

In [212]:
satcat['country'].nunique()

121

## Understand Orbital Placement of Objects

- LEO (<2,000 km perigee)
- MEO (2,00035,000 km)
- GEO (near 35,786 km  200 km)
- HEO (eccentric >0.1, apogee > GEO)

In [213]:
df_all['satNo'].nunique()

29715

In [214]:
satcat['norad_cat_id'].nunique()

65265

In [215]:
sat_list = satcat[['norad_cat_id']].drop_duplicates().rename(columns={'norad_cat_id': 'satNo'})
sat_no_list = df_all[['satNo']].drop_duplicates()
merged = sat_no_list[['satNo']].merge(sat_list, on='satNo', how='outer', indicator=True)
merged['_merge'].value_counts()

_merge
right_only    36125
both          29140
left_only       576
Name: count, dtype: int64

Only keep rows in both datasets

In [216]:
merged = df_all.merge(satcat, left_on='satNo', right_on='norad_cat_id', how='inner', suffixes=('_els', '_sat'))
merged.shape

(9510016, 49)

In [217]:
stats_check = merged[['apogee_els', 'apogee_sat', 'perigee_els', 'perigee_sat', 'period_els', 'period_sat']].copy()
stats_check['apogee_diff'] = stats_check['apogee_els'] - stats_check['apogee_sat']
stats_check['perigee_diff'] = stats_check['perigee_els'] - stats_check['perigee_sat']
stats_check['period_diff'] = stats_check['period_els'] - stats_check['period_sat']
stats_check.head(10)

,apogee_els,apogee_sat,perigee_els,perigee_sat,period_els,period_sat,apogee_diff,perigee_diff,period_diff
0,10202.213,3823.0,7026.636,649.0,132.617,132.61,6379.213,6377.636,0.007
1,10202.217,3823.0,7026.617,649.0,132.617,132.61,6379.217,6377.617,0.007
2,9286.717,2900.0,6930.269,552.0,121.107,121.01,6386.717,6378.269,0.097
3,9673.868,3290.0,6931.950,556.0,125.489,125.45,6383.868,6375.950,0.039
4,10594.496,4217.0,7029.527,650.0,137.206,137.20,6377.496,6379.527,0.006
5,9597.348,3213.0,6886.204,509.0,124.105,124.04,6384.348,6377.204,0.065
6,9597.322,3213.0,6886.212,509.0,124.105,124.04,6384.322,6377.212,0.065
7,6972.199,565.0,6832.162,443.0,95.113,94.70,6407.199,6389.162,0.413
8,6972.024,565.0,6832.128,443.0,95.111,94.70,6407.024,6389.128,0.411
9,7031.000,651.0,7000.123,620.0,97.466,97.42,6380.000,6380.123,0.046

In [241]:
stats_check.describe()

,apogee_els,apogee_sat,perigee_els,perigee_sat,period_els,period_sat,apogee_diff,perigee_diff,period_diff
count,9.400128e+06,9.509384e+06,9.400128e+06,9.509384e+06,9.242801e+06,9.509384e+06,9.399509e+06,9.399509e+06,9.242182e+06
mean,1.107926e+04,4.738493e+03,9.857155e+03,3.516206e+03,2.031563e+02,2.247050e+02,6.395982e+03,6.382509e+03,2.615757e-01
std,1.126123e+04,1.132044e+04,9.324520e+03,9.394080e+03,3.499089e+02,3.841806e+02,4.388793e+02,2.815223e+02,2.717809e+01
min,6.495761e+03,9.500000e+01,4.901396e+03,0.000000e+00,8.680700e+01,8.630000e+01,-2.442230e+05,-1.738973e+05,-2.896944e+04
25%,6.918712e+03,5.380000e+02,6.875817e+03,4.900000e+02,9.534900e+01,9.510000e+01,6.377797e+03,6.377737e+03,-2.000000e-03
50%,7.078346e+03,6.960000e+02,6.959703e+03,5.770000e+02,9.780200e+01,9.805000e+01,6.378457e+03,6.378480e+03,4.000000e-03
75%,7.557430e+03,1.183000e+03,7.271018e+03,8.970000e+02,1.053160e+02,1.065900e+02,6.382093e+03,6.381032e+03,5.100000e-02
max,6.195078e+05,6.385230e+05,3.072422e+05,3.149730e+05,5.180281e+04,5.569945e+04,7.279530e+04,1.572103e+05,1.605252e+04

In [242]:
df_latest = (merged.sort_values("epoch")
                      .groupby("satNo")
                      .tail(1))
df_latest.shape

(29140, 49)

In [243]:
df_latest.head()

,algorithm,apogee_els,argOfPerigee,bStar,classificationMarking,createdAt,createdBy,eccentricity,source,semiMajorAxis,satNo,revNo,raan,period_els,perigee_els,origNetwork,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination_els,idOnOrbit,idElset,epoch,epoch_date,intldes,norad_cat_id,object_type,satname,country,launch,site,decay,period_sat,inclination_sat,apogee_sat,perigee_sat,comment,commentcode,rcsvalue,rcs_size,file,launch_year,launch_num,launch_piece,current,object_name,object_id,object_number
31636,SGP4,6713.220,158.0519,0.071972,U,2025-01-01 16:05:13.461000+00:00,system.ob-ingest,0.002807,18th SPCS,6694.428,60773,2104,332.9594,90.851,6675.636,OPS1,0.123356,0.274000,15.850119,202.1971,88.9702,60773,<NA>,2025-01-01 05:40:21.204192+00:00,2025-01-01,2024-140EY,60773,DEBRIS,CZ-6A DEB,PRC,2024-08-06,TSC,2025-01-06,90.85,88.97,335.0,298.0,NaN,NaN,0,SMALL,9003,2024,140,EY,Y,CZ-6A DEB,2024-140EY,60773
25359,SGP4,6572.676,274.5234,0.000266,U,2025-01-02 00:05:13.604000+00:00,system.ob-ingest,0.000283,18th SPCS,6570.814,56091,10246,70.4408,88.346,6568.951,OPS1,0.011464,0.000002,16.299491,131.9252,96.3242,56091,<NA>,2025-01-01 06:26:51.037728+00:00,2025-01-01,2023-045A,56091,PAYLOAD,COSMOS 2568,CIS,2023-03-29,PKMTR,2025-01-03,87.19,96.33,141.0,130.0,NaN,NaN,0,LARGE,9000,2023,45,A,Y,COSMOS 2568,2023-045A,56091
11943,SGP4,6689.589,333.9987,0.015160,U,2025-01-01 15:05:11.434000+00:00,system.ob-ingest,0.002177,18th SPCS,6675.056,33989,84795,57.0027,90.457,6660.522,OPS1,0.041511,0.022317,15.919171,26.0151,73.9751,33989,<NA>,2025-01-01 09:48:54.658944+00:00,2025-01-01,1993-036FY,33989,DEBRIS,COSMOS 2251 DEB,CIS,1993-06-16,PKMTR,2025-01-06,90.46,73.98,311.0,282.0,NaN,NaN,0,SMALL,9003,1993,36,FY,Y,COSMOS 2251 DEB,1993-036FY,33989
22797,SGP4,6525.653,212.6438,0.000296,U,2025-01-01 12:05:11.766000+00:00,system.ob-ingest,0.000228,18th SPCS,6524.163,53714,12937,346.7018,87.407,6522.674,OPS1,0.158177,0.000013,16.474625,285.8411,53.2010,53714,<NA>,2025-01-01 10:32:12.338880+00:00,2025-01-01,2022-107Q,53714,PAYLOAD,STARLINK-4688,US,2022-09-05,AFETR,2025-01-01,87.41,53.20,148.0,145.0,NaN,NaN,0,LARGE,9000,2022,107,Q,Y,STARLINK-4688,2022-107Q,53714
13338,SGP4,7100.459,59.2819,0.018898,U,2025-01-01 23:05:11.521000+00:00,system.ob-ingest,0.001498,18th SPCS,7089.840,38275,74271,262.7376,99.018,7079.222,OPS1,0.000812,0.000000,14.542801,300.9849,81.1576,38275,<NA>,2025-01-01 10:44:23.122176+00:00,2025-01-01,1979-095BV,38275,DEBRIS,METEOR 2-5 DEB,CIS,1979-10-31,PKMTR,NaN,99.02,81.16,722.0,701.0,NaN,1.0,0,SMALL,9029,1979,95,BV,Y,METEOR 2-5 DEB,1979-095BV,38275

In [244]:
missing_values = df_latest.isna().sum().reset_index().rename(columns={0: 'n_missing'}).sort_values(by='n_missing', ascending=False)
missing_values = missing_values[missing_values['n_missing'] > 0]
missing_values

              index  n_missing
22          idElset      29140
37          comment      29134
38      commentcode      28865
32            decay      27942
40         rcs_size        412
0         algorithm         31
11            revNo         31
1        apogee_els         31
13       period_els         31
14      perigee_els         31
9     semiMajorAxis         31
16    meanMotionDot         22
17   meanMotionDDot         22
3             bStar          8
44     launch_piece          7
34  inclination_sat          6
33       period_sat          6
36      perigee_sat          6
35       apogee_sat          6

In [259]:
df_sat = df_latest.drop(columns=['idElset','comment', 'commentcode', 'createdBy', 'source', 'origNetwork', 'algorithm', 'classificationMarking', 'current'])
df_sat.head()

,apogee_els,argOfPerigee,bStar,createdAt,eccentricity,semiMajorAxis,satNo,revNo,raan,period_els,perigee_els,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination_els,idOnOrbit,epoch,epoch_date,intldes,norad_cat_id,object_type,satname,country,launch,site,decay,period_sat,inclination_sat,apogee_sat,perigee_sat,rcsvalue,rcs_size,file,launch_year,launch_num,launch_piece,object_name,object_id,object_number
31636,6713.220,158.0519,0.071972,2025-01-01 16:05:13.461000+00:00,0.002807,6694.428,60773,2104,332.9594,90.851,6675.636,0.123356,0.274000,15.850119,202.1971,88.9702,60773,2025-01-01 05:40:21.204192+00:00,2025-01-01,2024-140EY,60773,DEBRIS,CZ-6A DEB,PRC,2024-08-06,TSC,2025-01-06,90.85,88.97,335.0,298.0,0,SMALL,9003,2024,140,EY,CZ-6A DEB,2024-140EY,60773
25359,6572.676,274.5234,0.000266,2025-01-02 00:05:13.604000+00:00,0.000283,6570.814,56091,10246,70.4408,88.346,6568.951,0.011464,0.000002,16.299491,131.9252,96.3242,56091,2025-01-01 06:26:51.037728+00:00,2025-01-01,2023-045A,56091,PAYLOAD,COSMOS 2568,CIS,2023-03-29,PKMTR,2025-01-03,87.19,96.33,141.0,130.0,0,LARGE,9000,2023,45,A,COSMOS 2568,2023-045A,56091
11943,6689.589,333.9987,0.015160,2025-01-01 15:05:11.434000+00:00,0.002177,6675.056,33989,84795,57.0027,90.457,6660.522,0.041511,0.022317,15.919171,26.0151,73.9751,33989,2025-01-01 09:48:54.658944+00:00,2025-01-01,1993-036FY,33989,DEBRIS,COSMOS 2251 DEB,CIS,1993-06-16,PKMTR,2025-01-06,90.46,73.98,311.0,282.0,0,SMALL,9003,1993,36,FY,COSMOS 2251 DEB,1993-036FY,33989
22797,6525.653,212.6438,0.000296,2025-01-01 12:05:11.766000+00:00,0.000228,6524.163,53714,12937,346.7018,87.407,6522.674,0.158177,0.000013,16.474625,285.8411,53.2010,53714,2025-01-01 10:32:12.338880+00:00,2025-01-01,2022-107Q,53714,PAYLOAD,STARLINK-4688,US,2022-09-05,AFETR,2025-01-01,87.41,53.20,148.0,145.0,0,LARGE,9000,2022,107,Q,STARLINK-4688,2022-107Q,53714
13338,7100.459,59.2819,0.018898,2025-01-01 23:05:11.521000+00:00,0.001498,7089.840,38275,74271,262.7376,99.018,7079.222,0.000812,0.000000,14.542801,300.9849,81.1576,38275,2025-01-01 10:44:23.122176+00:00,2025-01-01,1979-095BV,38275,DEBRIS,METEOR 2-5 DEB,CIS,1979-10-31,PKMTR,NaN,99.02,81.16,722.0,701.0,0,SMALL,9029,1979,95,BV,METEOR 2-5 DEB,1979-095BV,38275

In [260]:
EARTH_RADIUS = 6378.137  # km (WGS84 equatorial radius)
df_sat["perigee_alt_km"] = df_sat["perigee_els"] - EARTH_RADIUS
df_sat["apogee_alt_km"]  = df_sat["apogee_els"]  - EARTH_RADIUS

In [261]:
df_check = df_sat[['satNo', 'perigee_sat', 'apogee_sat', 'perigee_alt_km', 'apogee_alt_km']].copy()
df_check['apogee_diff'] = df_check['apogee_sat'] - df_check['apogee_alt_km']
df_check['perigee_diff'] = df_check['perigee_sat'] - df_check['perigee_alt_km']
df_check[['apogee_diff', 'perigee_diff']].describe()

        apogee_diff   perigee_diff
count  29103.000000   29103.000000
mean      -1.505660       3.501992
std      248.867713     623.350550
min   -13836.053000  -18832.942000
25%       -1.051000      -0.961000
50%       -0.113000      -0.172000
75%        0.405000       0.457000
max    31497.941000  102451.756000

In [262]:
df_check[df_check['apogee_diff'].abs() > 100].sort_values(by='apogee_diff', ascending=False)

,satNo,perigee_sat,apogee_sat,perigee_alt_km,apogee_alt_km,apogee_diff,perigee_diff
8791844,59228,314973.0,638523.0,300864.064,607025.059,31497.941,14108.936
9424361,39459,78179.0,460746.0,87904.856,443233.507,17512.493,-9725.856
9119261,43435,123504.0,335955.0,117918.953,333626.197,2328.803,5585.047
9361498,837,49238.0,156751.0,50454.034,155541.132,1209.868,-1216.034
9311024,674,50536.0,167187.0,51631.031,166116.286,1070.714,-1095.031
...,...,...,...,...,...,...,...
9406687,63158,118.0,2485.0,108.588,8626.123,-6141.123,9.412
8755973,37755,58963.0,296547.0,77795.942,303550.707,-7003.707,-18832.942
8760921,60058,148603.0,437008.0,144033.018,444017.202,-7009.202,4569.982
7773795,57770,227890.0,298108.0,125438.244,308387.709,-10279.709,102451.756
9447233,63925,112.0,12511.0,105.173,26347.053,-13836.053,6.827

In [263]:
df_sat['perigee_alt_km'].describe()

count     29109.000000
mean       3311.684659
std        9232.091124
min        -218.163000
25%         494.306000
50%         637.345000
75%         924.623000
max      300864.064000
Name: perigee_alt_km, dtype: float64

In [265]:
df_sat[df_sat['perigee_alt_km'] > 35786]

,apogee_els,argOfPerigee,bStar,createdAt,eccentricity,semiMajorAxis,satNo,revNo,raan,period_els,perigee_els,meanMotionDot,meanMotionDDot,meanMotion,meanAnomaly,inclination_els,idOnOrbit,epoch,epoch_date,intldes,norad_cat_id,object_type,satname,country,launch,site,decay,period_sat,inclination_sat,apogee_sat,perigee_sat,rcsvalue,rcs_size,file,launch_year,launch_num,launch_piece,object_name,object_id,object_number,perigee_alt_km,apogee_alt_km,orbit_class
6817454,174645.516,77.3100,0.0,2025-06-01 23:07:57.174000+00:00,0.478972,118085.757,1459,4724,10.7885,6730.634,61525.998,-1.638000e-05,0.0,0.213947,359.1419,41.1385,1459,2025-06-05 21:51:56.298528+00:00,2025-06-05,1965-058B,1459,PAYLOAD,OPS 6564 (VELA 6),US,1965-07-20,AFETR,NaN,6737.25,41.15,168356.0,55214.0,0,NaN,9204,1965,58,B,OPS 6564 (VELA 6),1965-058B,1459,55147.861,168267.379,GEO
7263010,180733.109,214.1037,0.0,2025-06-12 23:07:45.793000+00:00,0.561497,115743.495,692,4975,44.9241,6531.375,50753.881,-1.215000e-05,0.0,0.220474,359.8474,26.4185,692,2025-06-16 23:56:12.566688+00:00,2025-06-16,1963-039C,692,PAYLOAD,VELA 1,US,1963-10-17,AFETR,NaN,6531.74,27.98,173941.0,44798.0,0,LARGE,9230,1963,39,C,VELA 1,1963-039C,692,44375.744,174354.972,GEO
7567223,173730.382,106.2819,0.0,2025-06-19 15:07:54.170000+00:00,0.465431,118552.398,2766,4546,12.5797,6770.570,63374.413,-1.518000e-05,0.0,0.212685,358.6899,34.3846,2766,2025-06-23 20:20:07.323936+00:00,2025-06-23,1967-040B,2766,PAYLOAD,OPS 6679 (VELA 8),US,1967-04-28,AFETR,NaN,6770.57,34.38,167352.0,56996.0,0,NaN,9202,1967,40,B,OPS 6679 (VELA 8),1967-040B,2766,56996.276,167352.245,GEO
7773795,314765.846,294.0371,0.0,2025-07-01 19:08:02.658000+00:00,0.409666,223291.114,57770,43,3.0372,17501.162,131816.381,-3.581000e-05,0.0,0.082280,359.8283,33.9343,57770,2025-06-27 12:38:30.285888+00:00,2025-06-27,2023-098C,57770,PAYLOAD,CH 3 PROPULSION MODULE,IND,2023-07-14,SRI,NaN,23189.99,34.48,298108.0,227890.0,0,NaN,9237,2023,98,C,CH 3 PROPULSION MODULE,2023-098C,57770,125438.244,308387.709,GEO
8091510,43878.194,222.1863,0.0,2025-07-07 23:07:54.905000+00:00,0.005719,43628.664,43513,2507,177.4520,1511.533,43379.134,-1.010000e-06,0.0,0.952675,137.0417,1.0584,43513,2025-07-04 18:45:37.102752+00:00,2025-07-04,1969-013R,43513,DEBRIS,TITAN 3C TRANSTAGE DEB,US,1969-02-09,AFETR,NaN,1511.56,1.07,37466.0,37036.0,0,NaN,9240,1969,13,R,TITAN 3C TRANSTAGE DEB,1969-013R,43513,37000.997,37500.057,GEO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9492270,42553.203,177.1928,0.0,2025-08-03 18:07:56.769000+00:00,0.001099,42506.467,32293,1223,79.7541,1453.591,42459.731,-1.200000e-06,0.0,0.990650,177.0523,3.9314,32293,2025-08-03 12:46:16.166784+00:00,2025-08-03,2007-056A,32293,PAYLOAD,STAR ONE C1,BRAZ,2007-11-14,FRGUI,NaN,1453.54,4.00,36179.0,36075.0,0,LARGE,9240,2007,56,A,STAR ONE C1,2007-056A,32293,36081.594,36175.066,GEO
9490244,42252.370,40.8075,0.0,2025-08-04 04:07:52.337000+00:00,0.000138,42246.557,25897,9481,15.0076,1440.279,42240.744,7.500000e-07,0.0,0.999806,316.6255,13.4376,25897,2025-08-03 12:46:38.866656+00:00,2025-08-03,1999-047B,25897,PAYLOAD,YAMAL 102,CIS,1999-09-06,TTMTR,NaN,1440.13,13.46,35867.0,35864.0,0,LARGE,9240,1999,47,B,YAMAL 102,1999-047B,25897,35862.607,35874.233,GEO
9486229,43285.816,30.7062,0.0,2025-08-03 18:07:51.067000+00:00,0.007788,42951.329,9803,2155,287.0537,1476.470,42616.841,-8.300000e-07,0.0,0.975299,132.0331,5.5411,9803,2025-08-03 12:50:38.248224+00:00,2025-08-03,1977-007A,9803,PAYLOAD,OPS 3151,US,1977-02-06,AFETR,NaN,1476.49,5.48,36909.0,36238.0,0,NaN,9237,1977,7,A,OPS 3151,1977-007A,9803,36238.704,36907.679,GEO
9485398,42852.994,350.5812,0.0,2025-08-03 18:07:50.610000+00:00,0.002015,42766.836,5204,20311,292.2550,1466.967,42680.678,-1.000000e-06,0.0,0.981617,167.5107,0.6051,5204,2025-08-03 12:50:38.248224+00:00,2025-08-03,1971-039A,5204,PAYLOAD,OPS 3811,US,1971-05-05,AFETR,NaN,1466.97,0.55,36478.0,36300.0,0,NaN,9240,1971,39,A,OPS 3811,1971-039A,5204,36302.541,36474.857,GEO
9491042,42693.797,114.3731,0.0,2025-08-03 18:07:52.716000+00:00,0.000528,42671.258,28644,4305,74.5017,1462.052,42648.719,-1.390000e-06,0.0,0.984917,264.8140,5.8799,28644,2025-08-03 12:51:30.665376+00:00,2025-08-03,2005-015A,28644,PAYLOAD,SPACEWAY 1,US,2005-04-26,SEAL,NaN,1462.03,5.94,36318.0,36268.0,0,LARGE,9236,2005,15,A,SPACEWAY 1,2005-015A,28644,36270.582,36315.660,GEO

In [ ]:
def classify_orbit(perigee_km, apogee_km, eccentricity):
    if pd.isna(perigee_km) or pd.isna(apogee_km):
        return 'Unknown'
    # GEO band check (both near GEO altitude)
    if (abs(perigee_kam - 35786) <= 200) and (abs(apogee_km - 35786) <= 200):
        return 'GEO'
    # HEO check
    if eccentricity > 0.1 and (apogee_km - perigee_km) > 10000:
        return 'HEO'
    # LEO / MEO otherwise
    if perigee_km < 2000:
        return 'LEO'
    if perigee_km < 35786:
        return 'MEO'
    return 'HEO'

df_sat['orbit_class'] = df_sat.apply(lambda row: classify_orbit(row['perigee_alt_km'], row['apogee_alt_km'], row['eccentricity']), axis=1)
df_sat['orbit_class'].value_counts()

orbit_class
LEO        24872
HEO         2473
MEO          887
GEO          877
Unknown       31
Name: count, dtype: int64

In [268]:
df_sat.columns

Index(['apogee_els', 'argOfPerigee', 'bStar', 'createdAt', 'eccentricity',
       'semiMajorAxis', 'satNo', 'revNo', 'raan', 'period_els', 'perigee_els',
       'meanMotionDot', 'meanMotionDDot', 'meanMotion', 'meanAnomaly',
       'inclination_els', 'idOnOrbit', 'epoch', 'epoch_date', 'intldes',
       'norad_cat_id', 'object_type', 'satname', 'country', 'launch', 'site',
       'decay', 'period_sat', 'inclination_sat', 'apogee_sat', 'perigee_sat',
       'rcsvalue', 'rcs_size', 'file', 'launch_year', 'launch_num',
       'launch_piece', 'object_name', 'object_id', 'object_number',
       'perigee_alt_km', 'apogee_alt_km', 'orbit_class'],
      dtype='object')

In [269]:
df_sat['object_type'].value_counts()

object_type
PAYLOAD        15330
DEBRIS         10938
ROCKET BODY     2237
UNKNOWN          635
Name: count, dtype: int64

In [270]:
pivot = df_sat.pivot_table(index='object_type', columns='orbit_class', values='satNo', aggfunc='nunique', fill_value=0)
pivot

orbit_class  GEO  HEO    LEO  MEO  Unknown
object_type
DEBRIS        12  970   9774  164       18
PAYLOAD      796  674  13396  453       11
ROCKET BODY   69  828   1070  269        1
UNKNOWN        0    1    632    1        1

In [271]:
pivot_percent_rows = pivot.div(pivot.sum(axis=1), axis=0) * 100
pivot_percent_rows

orbit_class       GEO        HEO        LEO        MEO   Unknown
object_type
DEBRIS       0.109709   8.868166  89.358201   1.499360  0.164564
PAYLOAD      5.192433   4.396608  87.384214   2.954990  0.071755
ROCKET BODY  3.084488  37.013858  47.831918  12.025034  0.044703
UNKNOWN      0.000000   0.157480  99.527559   0.157480  0.157480

In [272]:
pivot_percent_cols = pivot.div(pivot.sum(axis=0), axis=1) * 100
pivot_percent_cols

orbit_class        GEO        HEO        LEO        MEO    Unknown
object_type
DEBRIS        1.368301  39.223615  39.297202  18.489290  58.064516
PAYLOAD      90.763968  27.254347  53.859762  51.071026  35.483871
ROCKET BODY   7.867731  33.481601   4.302026  30.326945   3.225806
UNKNOWN       0.000000   0.040437   2.541010   0.112740   3.225806

In [273]:
df_sat['launch_year'].value_counts().sort_index()

launch_year
1958       3
1959       5
1960      11
1961     210
1962      25
        ...
2021    1408
2022    2728
2023    2701
2024    3376
2025    2321
Name: count, Length: 68, dtype: int64

In [274]:
lauch_year_dict = {'1950s': range(1950, 1960),
                   '1960s': range(1960, 1970),
                   '1970s': range(1970, 1980),
                   '1980s': range(1980, 1990),
                   '1990s': range(1990, 2000),
                   '2000s': range(2000, 2010),
                   '2010s': range(2010, 2020),
                   '2020s': range(2020, 2030)}

def classify_launch_year(year):
    if pd.isna(year): return "Unknown"
    for decade, years in lauch_year_dict.items():
        if year in years:
            return decade
    return "Unknown"    

df_sat['launch_decade'] = df_sat['launch_year'].apply(classify_launch_year)
df_sat['launch_decade'].value_counts().sort_index()

launch_decade
1950s        8
1960s     1314
1970s     2655
1980s     2397
1990s     5120
2000s     1780
2010s     2500
2020s    13366
Name: count, dtype: int64

In [275]:
df_sat[df_sat['object_type'] == 'DEBRIS']['launch_decade'].value_counts().sort_index()

launch_decade
1950s       2
1960s     946
1970s    1828
1980s    1196
1990s    3942
2000s     842
2010s     769
2020s    1413
Name: count, dtype: int64

In [ ]:
df_clean = df_sat.copy()
df_clean.to_csv(FINAL_DIR / "satellite_data_clean.csv", index=False)